



body{
	text-align:center;
	margin-top:  0% ;
	background:#084b1e ;
	background: -webkit-linear-gradient( #9dbc7a,#084b1e);
	background: -moz-linear-gradient( #9dbc7a,#084b1e);
	background:      linear-gradient( #9dbc7a,#084b1e);

}
 
.firstdiv{
	background-color: #033145;
	width:90%;
	height: 100%;
	padding: 8%;
	margin-left:-1%;
}



.logo{
	text-align: left;
	display:inline-block;
    border-top: 5px solid orange;
 	margin-left:-800px;
	margin-top: -200px;
	color: white;
	word-spacing: 12px;
	padding-top: 50px;
	font-weight: lighter;

}
.headin4{
	text-align: right;
   margin-top:  -90px;
   margin-right: 20px;
   word-spacing:10px;
   color: orange;
   font-size: 20px;

  }
  .seconddiv{
  	
  	background: #648880;
	background: -webkit-linear-gradient(#648880, #293f50);
	background: -moz-linear-gradient(#648880, #293f50);
	background:      linear-gradient(#648880, #293f50);
  }
  .headin3{
  	color: #05ab9f;

  } 
  a:hover{
  	background-color: #05ab9f;
  color:#a9b2b9;

}
a{
	color: white;
	 text-decoration: none;

}








.lien{
    margin-top: -0px;
	text-align: right;
	word-spacing: 10px;
	margin-right: 20px;
	color: white;
	font-size: 20px;


}
h2{
	margin-top:8%;
	color:orange; 
	margin-bottom:60px;
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing: 10px;

}
.junior{
	text-decoration: none;

}

 
.header4{
	 

	text-align: center;
	color:#033145 ;
	margin-bottom: 50px;
	margin-top: 25px;
	text-align: center;
	font-weight: lighter;
	font-style: italic;

}

 	
 .rigister{
 	
 	
 	margin-top:5%;
 	margin-bottom:5%; 
 	padding: 15px 30px;
 	margin-left: 42%;
 	width: 100px;
 	font-size: 18px;
 	letter-spacing: 1px;
 	word-spacing: 3px;
 	box-shadow: 2px 2PX 2px 2px  rgb( 03,33,45, 1);
 	text-transform: uppercase;
 	font-weight: lighter;
 	font-style: italic;
 	border: 2px solid #05ab9f;
 	
 	
 }
 .rigister a{

 	color: white;
 	
 }
 p{
 	
 	color:#033145;
 	font-size: 24px;
 	word-spacing: 3px;
 	letter-spacing:2px;
 	font-weight: lighter; 

 	

 }
 

 h5{

 	color: #05ab9f;
 	letter-spacing:2px;
 	word-spacing: 3px;
 	text-transform: uppercase;
 	font-size: 20px; 
 	margin-bottom: 20px;
 }

section{
	width: 110%;
	display:block;
	height: 100%;
    font-size:24px;
	background-color: white;
    margin-left:-1%;
    padding-bottom: 15px;
   padding-top: 20px;
     
     



}
.col-1-3{
	display: inline-block;
	width: 50%;
	height: 100%;
	margin:  5px;
	font-size:18px;
	



	
}

.col-3-3{
	display: inline-block;
	width: 20%;
	margin-bottom: 80px;
	margin-left:100px;
	font-size:24px;
	margin-top: 35px;
    background-color: ;

	padding: 2px;
    padding-top: 50px;
	border: 2px solid black;


	
	
}
.col-3-3 .photo{
	margin-bottom: 50px;

	
}


.col-3-3 p{
	font-size: 20px;
	margin-bottom: 20px;
	margin-top: -24px ;


	
}
.photo{
	width:70%;
	height: 70%;
	border-radius: 70%;
	margin-bottom: 45px;
	padding-top: -100px;
	margin-top: -140px;
}
.col-4-3{
	display: inline-block;
	width: 20%;
	padding:-100px;
	margin-left:100px;
	font-size:14px;
	margin-top: 35px;
	margin-bottom: 25px;
    border: 2px solid black;


}
.photo1{
	width:70%;
	height: 70%;
	border-radius: 70%;
    padding-top: -100px;
	margin-top: -100px;
    margin-bottom:20px;

}
.col-4-3 p{
	margin-bottom: 20px;

}


footer{
    width: 100%;
    height: 100%;
    padding: 20%;
    background:#084b1e ;
	background: -webkit-linear-gradient( #9dbc7a,#084b1e);
	background: -moz-linear-gradient( #9dbc7a,#084b1e);
	background:      linear-gradient( #9dbc7a,#084b1e);
	margin-left: -1%;
 
	
	
}
.mainfooter{
  background-color: #033145;
  margin-left: -22%;
  margin-bottom: -22%;
  margin-right: 18%;
  padding: 70px;
   
 
  
	
	
	}
small{
	
	 margin-left: -70%;
	background:#084b1e ;
	background: -webkit-linear-gradient( #9dbc7a,#084b1e);
	background: -moz-linear-gradient( #9dbc7a,#084b1e);
	background:      linear-gradient( #9dbc7a,#084b1e);;
	 font-size: 26px;
	 text-transform: uppercase;
	 font-weight: lighter;
	 word-spacing: 20px;
     letter-spacing: 2px;



	 
}
.bottom{
	height: 100%;
	text-align: right;
	margin-right: 1%;
    margin-bottom:50px;
	margin-top: 40px;
    word-spacing: 25px;


	 
	
	
}
.bottom a{
	 background:#084b1e ;
	background: -webkit-linear-gradient( #9dbc7a,#084b1e);
	background: -moz-linear-gradient( #9dbc7a,#084b1e);
	background:      linear-gradient( #9dbc7a,#084b1e);
	font-size: 25px;
	font-weight: lighter;
}







	













